@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>ConfigValueDecryptionPassword: '@Configuration["Configuration:Decryption:Password"]'</p>
    <p>Foo.Bar: '@Configuration["Foo:Bar"]'</p>
    <p>Foo.Bar.Encrypted: '@Configuration["Foo:Bar:Encrypted"]'</p>
    @* <h1 class="display-4">Welcome</h1> *@
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>